@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-fina/helvetica-fina.eot');
    src: url('../fonts/helvetica-fina/helvetica-fina.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-fina/helvetica-fina.woff2') format('woff2'),
         url('../fonts/helvetica-fina/helvetica-fina.woff') format('woff'),
         url('../fonts/helvetica-fina/helvetica-fina.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
}


body {
    font-family: 'helvetica';
    overflow-x: hidden;
}

h1 {
    font-size: 34px;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: center;
    color: #ED462F;
    font-weight: 100; 
}

h1.variant {
    color: #fff;
    line-height: 32px;
    font-weight: 100; 
}

h1.variant-blue {
    color: #3FAFEF;
    line-height: 32px;
    font-weight: 100; 
}

h1.variant-blue.walmart {
    color: #041e42;
    line-height: 32px;
    font-weight: 100; 
}

header {
    background: #3FA1C0;
    padding: 8px;
}

header.walmart {
    background: #112B4A;
    padding: 8px;
}

header.cvspharmacy {
    background: #c93a26;
    padding: 14px;
}

header.meijer {
    background: #fff;
    padding: 13px;
}
header.albertsons {
    background: #fff;
    padding: 13px;
}

.section-allergies {
    position: relative;
}

.section-allergies::after {
    content: "";
    position: absolute;
    background: url('../img/arrows-red.png') no-repeat;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-position: center;
}

.section-introducing {
    background: #3FAFEF;
    height: 462px;
}

.section-introducing-walmart {
    background: #041e42;
    height: 462px;
}

.section-introducing .background-bottle {
    background: url('../img/eye.png') top no-repeat;
    background-size: 100%;
    position: relative;
}


.section-doctor {
    position: relative;
}

.section-doctor::after {
    content: "";
    position: absolute;
    background: url('../img/arrows-blue.png') no-repeat;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-position: center;
}

.section-doctor-walmart {
    position: relative;
}

.section-doctor-walmart::after {
    content: "";
    position: absolute;
    background: url('../img/arrows-blue-dark.png') no-repeat;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-position: center;
}

.content-video {
    position: relative;
}

.content-video::before{
    content: "";
    position: absolute;
    background: url('../img/button-play-2.png') no-repeat center;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-size: 20%;
}

.content-video-walmart {
    position: relative;
}

.content-video-walmart::before{
    content: "";
    position: absolute;
    background: url('../img/button-play-walmart.png') no-repeat center;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-size: 20%;
}


.section-save {
    background: #3FAFEF;
    text-align: center;
    height: 275px;
}

.section-save.walmart {
    background: #041e42;
    text-align: center;
    height: 275px;
}

.section-save h1 {
    font-size: 54px;
    font-style: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    font-weight: 100; 
}

.section-save h3 {
    font-size: 34px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    font-weight: 100; 
}

.section-save small {
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

footer {
    background: #133489;
    padding: 22px;
}
